doctype html
html
  head
    title OneLife
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/stylesheets/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ie9.css')
  body
    #page-wrapper
      // Header
      #header
        // Logo
        h1
          a#logo(href='/')
            | OneLife Portal 
            em by OneLife
        // Nav
        nav#nav
          ul
            li
              a(href='/') Home
            li
              a(href='#') Education
              ul
                li
                  a(href='#') Our Goal
                li
                  a(href='#') Emergency Room Times
                li
                  a(href='#') CISS Model
                li
                  a(href='#') Prevention
                  ul
                    li
                      a(href='#') Emergency Conditions
                    li
                      a(href='#') Prevention Care
                    li
                      a(href='#') Healthcare Spending
                    li
                      a(href='#') Today's Problem with ER
                    li
                      a(href='#') Addicion
                li
                  a(href='#') Security & Threats
            li.current
              a(href='/catalog/') Patient Portal
            li
              a(href='#') Find an ER
            li
              a(href='#') About Us
            li
              a(href='#') FAQ
      // Main
      section.wrapper.style1
        .container
          .row(class='200%')
            //.4u(class='12u(narrower)')
            div(class='4u 12u(narrower)')
              #sidebar
                // Sidebar
                section
                  h3 Tools
                  ul
                    li 
                      a(href='/catalog') Home
                    li 
                      a(href='/catalog/records') All records
                    li 
                      a(href='/catalog/patients') All patients
                    li 
                      a(href='/catalog/clinicians') All clinicians
                    li 
                      a(href='/catalog/accesses') All accesses
                    li 
                      hr
                    li 
                      a(href='/catalog/patient/create') Create new patient
                    li 
                      a(href='/catalog/clinician/create') Create new clinician
                    li 
                      a(href='/catalog/record/create') Create new record
                    li 
                      a(href='/catalog/accessed/create') Create new access (copy)
                //- section
                //-   h3 Another Subheading
                //-   ul.links
                //-     li
                //-       a(href='#') Amet turpis, feugiat et sit amet
                //-     li
                //-       a(href='#') Ornare in hendrerit in lectus
                //-     li
                //-       a(href='#') Semper mod quis eget mi dolore
                //-     li
                //-       a(href='#') Consequat etiam lorem phasellus
                //-     li
                //-       a(href='#') Amet turpis, feugiat et sit amet
                //-     li
                //-       a(href='#') Semper mod quisturpis nisi
                //-   footer
                //-     a.button(href='#') More Random Links
            //.8u(class='12u(narrower) important(narrower)')
            div(class='8u 12u(narrower) important(narrower')
              #content
                // Content
                article
                  header
                    block header
                  span.image.featured
                    block image
                    //img(src='/images/banner.jpeg', alt='')
                  block content
      // Footer
      #footer
        .container
          .row
            section(class='3u 6u(narrower) 12u$(mobilep)')
              h3 Patients & Visitors
              ul.links
                li
                  a(href='#') Location
                li
                  a(href='#') Pricing Information
                li
                  a(href='#') Registration
                li
                  a(href='#') About Us
                li
                  a(href='#') Careers
                li
                  a(href='#') Contact
                li
                  a(href='#') Site Map
            section(class='3u 6u$(narrower) 12u$(mobilep)')
              h3 Health Info
              ul.links
                li
                  a(href='#') For Physicians
                li
                  a(href='#') For Employees
                li
                  a(href='#') Careers
                li
                  a(href='#') Health Library
                li
                  a(href='#') Video Library
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') Terms & Conditions
            section(class='6u 12u(narrower)')
              h3 Get In Touch
              form
                .row(class='50%')
                  div(class='6u 12u(mobilep)')
                    input#name(type='text', name='name', placeholder='Name')
                  div(class='6u 12u(mobilep)')
                    input#email(type='email', name='email', placeholder='Email')
                .row(class='50%')
                  div(class='12u')
                    textarea#message(name='message', placeholder='Message', rows='5')
                .row(class='50%')
                  div(class='12u')
                    ul.actions
                      li
                        input.button.alt(type='submit', value='Send Message')
        // Icons
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-github(href='#')
              span.label GitHub
          li
            a.icon.fa-linkedin(href='#')
              span.label LinkedIn
          li
            a.icon.fa-google-plus(href='#')
              span.label Google+
        // Copyright
        .copyright
          ul.menu
            li © OneLife. All rights reserved
            li
              | Design: 
              a(href='http://joseavarela.com') Jose Varela
    // Scripts
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.dropotron.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/util.js')
    //if lte IE 8
      script(src='/javascripts/ie/respond.min.js')
    script(src='/javascripts/main.js')
